body {
  padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 20px;
}

section {
  padding-top: 50px;
}

.container {
  width: 850px;
}

#border {
  border-color: #911C72;
  border-width: 5px;
  border-style: solid;
  border-radius: 15px;
  background-image: url(../img/grid-18px-masked.png);
  background-repeat: repeat-x;
  padding: 12px;
}

.title {
  overflow: hidden;
}

.title h1 {
  float: left;
}

.title .telefon {
  float: right;
  font-size: 20px;
  margin-top: 2px;
}

#logo {
  float: left;
}

.cookie-alert {
  margin-top: 20px;
}

#contact {
  overflow: hidden;
}

.contactinfo {
  margin-left: 6px;
  float: left;
}

.contactinfo h1 {
  color: #3465a4;
  font-size: 20px;
  font-weight: bold;
}

.contactinfo p {
  font-size: 18px;
  margin-left: 20px;
}

.company {
  font-size: 18px;
  margin-left: 6px;
  overflow: hidden;
}

.company li {
  margin-top: 20px;
}

.company ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

.company img {
  float: right;
}

.map {
  float: right;
}

.boko-title h1 {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 9px;
  letter-spacing: -1px;
  line-height: 1;
}

.boko-title p {
  margin-bottom: 10px;
  font-weight: 300;
}
